html, body {
    margin: 0;
    height: 100%;
    max-height: 100%;
}

.wrapper { overscroll-behavior: none }

body{
    text-align: center;
    background-color: orange;
}

#canvas-div{
    background-color: orange;
    height: 100%;
    width: 100%;
    margin: 0;
}
.buttons{
    background-color: GhostWhite;
    margin: 0 10px;
}

#size{
    margin-left: 10px;
}

.title{
    font-weight: bold;
}

#menu{
    margin-bottom: 0;
    padding: 78px 0;
}

#map{
    max-width: 100%;      
    width: 50%;  
}

#scores{
    display:flex;
    flex-direction: column;
    align-self: center;
}

.score-div,.game-div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: large;
    font-weight: bold;
}

.score-text{
    margin: 0 5px;
}

.colors{
    width: 20px ;
    height: 20px;
    margin: 0 10px;
}

#two-players-info,#scoreTwo{
    display: none;
}

#pause{
    max-height: 50%;
    height: 50%;
    align-self: center;
}

#game{
    display: none;
    align-content: center;
}


